<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770192844640-u6nhhalccs2sf9lnkl6mhsrb7l1d6ahr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770192844640-u6nhhalccs2sf9lnkl6mhsrb7l1d6ahr</string>
	<key>API_KEY</key>
	<string>AIzaSyDTzyLMPQoYordLkkyGKCT8D4BG1hOhf6o</string>
	<key>GCM_SENDER_ID</key>
	<string>770192844640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brandlogin</string>
	<key>PROJECT_ID</key>
	<string>loginapp-3baa6</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-3baa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770192844640:ios:d862b986c0eeed99bd2005</string>
</dict>
</plist>